/* Estilo general del cuerpo */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Estilo para el título del juego */
h2 {
    text-align: center;
    color: #000000;
    font-family: 'Patrick Hand', sans-serif;
}

/* Estilo para el contenedor del juego */
#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-image: url('../CSS/fondo1.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para la cuadrícula del tablero */
.grid {
    display: grid;
    gap: 5px; /* Espaciado entre celdas */
    justify-content: center;
    align-items: center;
}

/* Estilo para cada celda del tablero */
.cell {
    width: 100px;
    height: 100px;
    background-color: #8f3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    border: 1px solid #020000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
}

.cell:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

/* Estilo para el marcador */
#score-board {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    font-family: 'Patrick Hand', sans-serif;
}
